body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

header {
  border-bottom: 5px solid rgb(118, 204, 204);
}

ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: rgb(118, 204, 204);
  list-style-type: none;
}

/*main*/
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.container {
  stroke-width: 300px;
  padding: 20px;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionImg {
  width: 90%;
  max-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textAa {
  display: flex;
  padding: 10px;
}

/*media query */
@media (max-width: 426px) {
  body {
    background-color: rgb(189, 228, 228);
  }
  .flexRow {
    flex-direction: column;
  }
}
